@import url(../normalize.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto';
  font-size: 14px;
  overflow: hidden;
  background: #FAFAFA;
}

/* ul li */

ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* main styles */

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.menu-body {
  display: none;
}

/* left content styles */

.left-content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: auto;
  background-color: #FFF;
  border-right: 1px solid rgba(221, 221, 221, 0.38);
}

.resume-logo {
  display: flex;
  justify-content: end;
}

.resume-logo a {
  display: flex;
  flex-direction: column;
  padding: 14px;
  text-align: right;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background: #000;
}

.nav-item {
  display: flex;
  justify-content: end;
  margin: 50px 0 160px;
}

.nav-item ul li, .nav-item ul li a {
  display: flex;
  justify-content: flex-end;
}

.nav-item ul li a {
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: #C8C8C8;
}

.nav-item a:hover {
  color: #000;
}

.nav-item a {
  position: relative;
}

.nav-item a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 0;
  height: 1px;
  background-color: #000;
}

.nav-item a:hover:before {
  width: 100%;
}

.nav-item a::before {
  transition: width 0.35s;
}

.social {
  display: flex;
  justify-content: end;
}

.social-link_item {
  width: 32px;
  height: 32px;
}

.social-link_item:hover {
  transform: scale(1.2);
}

.contact {
  text-align: end;
}

.contact-title {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}

.contact-link {
  margin: 10px 0;
}

.contact-link_item {
  word-break: break-all;
  font-size: 13px;
  text-decoration: none;
  color: #C8C8C8;
}

.contact-link_item:hover {
  color: #000;
}

/* right content styles */

.right-content {
  height: 100%;
  overflow-y: auto;
  margin-left: 10px;
  padding: 30px;
  background-color: #FFF;
  border-left: 1px solid rgba(221, 221, 221, 0.38);
}

.greeting-information {
  margin-bottom: 100px;
}

.nav-title {
  margin: 0 0 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}

.right-content_title {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  color: #000;
}

.information-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.resume-photo {
  max-width: 100%;
  max-height: 600px;
  border-radius: 10px;
}

.profile-information {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}

.profile-greeting {
  margin: 0;
  letter-spacing: 2.1px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

.profile-name {
  font-size: 40px;
  text-transform: uppercase;
  margin: 15px 0px;
  color: #000;
  font-weight: 600;
}

.profile-description {
  margin: 0;
  letter-spacing: 2.1px;
  color: #000;
  font-size: 18px;
  font-size: 500;
  text-transform: uppercase;
}

.profile-about {
  font-size: 15px;
  color: #C8C8C8;
  line-height: 18px;
}

.contact-information_item {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.contact-information-icon {
  width: 16px;
  height: 16px;
}

.information-item_text {
  margin: 0;
  margin-left: 10px;
}

.right-contact_social {
  display: flex;
}

/* about me */

.about-me {
  margin-bottom: 100px;
}

.about-me_wrapper {
  display: flex;
  justify-content: center;

}

.about-me_greeting {
  max-width: 90%;
  text-align: center;
}


/* education */

.education {
  margin-bottom: 100px;
}

.education-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.education-card {
  width: 44vh;
  max-height: 300px;
  padding: 10rem 0 0;
  color: #000;
  border-radius: 0.4rem;
  transition: transform 500ms ease;
  overflow: hidden;
  cursor: pointer;
}

.mkp-college {
  background: url(./assets/image/mkp-college.jpg) 54% / cover no-repeat;
}

.ludong-university {
  background: url(./assets/image/ludong-university.jpg) 46% / cover no-repeat;
}

.upk-school {
  background: url(./assets/image/upk-school.jpg) 50% / cover no-repeat;
}

.education-card:hover {
  transform: scale(1.02);
}

.card-content {
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  transform: translateY(60%);
  transition: transform 500ms ease;
}

.education-card:hover .card-content {
  transform: translateY(0);
  transition-delay: 500ms;
}

.card-button {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  border-radius: 0.2rem;
  color: #FFF;
  background-color: #000;
}

.card-button:hover,
.card-button:focus {
  background-color: #FFF;
  color: #000;
}

.card-title {
  margin: 0 0 60px;
}

.card-body {
  margin: 0 0 20px;
}

/* skills */

.skills {
  margin-bottom: 100px;
}

.skills-wrapper {
  width: 100%;
}

.skills-name {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0;
}

.skills-bar {
  height: 14px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
}

.skills-line.active {
  height: 14px;
  border-radius: 0.25rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  position: relative;
  animation: fillBar 2.5s;
}


.skills-line::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  color: #FFF;
  background: #000;
  border-radius: 0.25rem;
  font-size: 10px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* interests */

.interests {
  margin-bottom: 20px;
}

.interests-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.interests-item {
  min-width: 250px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.interests-item:hover {
  transform: scale(1);
  box-shadow: 0 15px 60px rgb(0 0 0 / 12%);
}

.interests-icons {
  width: 80px;
  height: 80px;
}

/* adaptive burger menu view */

@media (max-width: 821px) {
  .education-wrapper {
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .left-content {
    display: none;
  }

  .right-content {
    margin-left: 0;
  }

  .burger-menu {
    display: flex;
    justify-content: flex-end;
  }

  .burger-btn {
    z-index: 10;
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    cursor: pointer;
  }

  .burger-btn span,
  .burger-btn::before,
  .burger-btn::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.5s ease 0s;
    background-color: #000;
  }

  .burger-btn::before,
  .burger-btn::after {
    content: "";
  }

  .burger-btn::before {
    top: 0;
  }

  .burger-btn::after {
    bottom: 0;
  }

  .burger-btn span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .burger-btn.active span {
    transform: scale(0);
  }

  .burger-btn.active::before {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  .burger-btn.active::after {
    bottom: 50%;
    transform: translate(0, 50%) rotate(45deg);
  }

  .menu-body {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    transform: translate(100%, 0);
    background: #FFF;
    padding: 100px 30px 30px;
    transition: transform 0.5s ease;
    overflow: auto;
    z-index: 5;
  }

  .menu-body.active {
    transform: translate(0, 0);
  }

  .overlay.active {
    position: absolute;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;
  }

  .information-wrapper {
    justify-content: center;
  }

  .profile-information {
    width: 100%;
    padding-left: 0;
  }

  .user-photo {
    margin-bottom: 50px;
  }

  .nav-item {
    margin: 20px 0 100px;
  }
}
