@import url(../normalize.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto';
}

/* ul li */

ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* main styles */

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* left content styles */

.left-content {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: auto;
  border-right: 1px solid rgba(221, 221, 221, 0.38);
}

.resume-logo {
  display: flex;
  justify-content: end;
}

.resume-logo a {
  display: flex;
  flex-direction: column;
  padding: 14px;
  text-align: right;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background: #000;
}

.nav-item {
  display: flex;
  justify-content: end;
  margin: 30px 0;
}

.nav-item ul li, .nav-item ul li a {
  display: flex;
  justify-content: flex-end;
}

.nav-item ul li a {
  padding: 6px 0;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: #C8C8C8;
}

.nav-item a:hover {
  color: #000;
}

.nav-item a {
  position: relative;
}

.nav-item a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 24px;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #000;
}

.nav-item a:hover:before {
  width: 100%;
}

.nav-item a::before {
  transition: width 0.35s;
}

.social {
  display: flex;
  justify-content: end;
}

.social-link_item {
  width: 32px;
  height: 32px;
}

.social-link_item:hover {
  transform: scale(1.2);
}

.contact {
  text-align: end;
}

.contact-link {
  margin: 10px 0;
}

.contact-link_item {
  text-decoration: none;
  color: #C8C8C8;
}

.contact-link_item:hover {
  color: #000;
}

/* right content styles */

.right-content {
  padding: 30px;
}

.nav-title {
  margin: 0 0 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}

.right-content_title {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  color: #000;
}

.information-wrapper {
  display: flex;
}

.resume-photo {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
}

.profile-information {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}

.profile-greeting {
  margin: 0;
  letter-spacing: 2.1px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

.profile-name {
  font-size: 40px;
  text-transform: uppercase;
  margin: 15px 0px;
  color: #000;
  font-weight: 600;
}

.profile-description {
  margin: 0;
  letter-spacing: 2.1px;
  color: #000;
  font-size: 18px;
  font-size: 500;
  text-transform: uppercase;
}

.profile-about {
  font-size: 15px;
  color: #C8C8C8;
  line-height: 18px;
}

.contact-information_item {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

.contact-information-icon {
  width: 16px;
  height: 16px;
}

.information-item_text {
  margin: 0;
  margin-left: 10px;
}

.right-contact_social {
  display: flex;
}
